# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Django migrations
*/migrations/*

# Ignore database files
*.sqlite3

# Ignore node_modules
node_modules/

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
